html,
body,
h1, h2, h3, h4, h5, h6 {
	font-family: "Raleway", sans-serif;
}

html {
}

body {
  background: url('../img/zigzag.png') repeat center center;
	padding-top: 70px;
}

#app {
	position: absolute;
	width: 100%;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
	text-shadow: 0 1px hsl(0,0,80%);
}

.container {
  background: hsl(0, 100%, 100%);
  box-shadow: 10px 10px hsla(0, 0%, 0%, 0.1);
  padding: 40px 20px;
  border-radius: 4px;
}


/***************************************************************************************************
 * General
 ***************************************************************************************************/
#page_icon {
  font-size: 4em;
  color: #a1d1c9;
}


/***************************************************************************************************
 * Navbar
 ***************************************************************************************************/
.navbar-brand {
  padding: 8px;

}
#brand_sparrow_bleu {
  position: relative;
  top: 2px;
  font-family: 'Learning Curve Pro Regular', arial;
  font-size: 28px;
  text-shadow: 0 0 hsl(0, 0%, 60%);
}
#brand_photography {
  font-family: "Arial";
  font-size: 14px;
}


/***************************************************************************************************
 * Home Access Page
 ***************************************************************************************************/
#home_logo {

}
#brand_logo {
  padding: 0 8px;
}