/***************************************************************************************************
 * shadows
 ***************************************************************************************************/

.text_shadow_sm {
    text-shadow: 0 1px @sbp_shadow_color;
}
.text_shadow_md {
    text-shadow: 2px 3px @sbp_shadow_color;
}

.box_shadow_lg {
    box-shadow: 8px 8px 1px @sbp_shadow_color;
}


/***************************************************************************************************
 * special styles
 ***************************************************************************************************/

.sbp_panel() {
    background: #FFF;
    border-radius: 3px;
    border: none;
    .box_shadow_lg();
}