{% extends 'base.html' %}

{% block additional_head %}
{% endblock additional_head %}

{% block nav %}

    {% include "_navbar.html" %}

{% endblock nav %}

{% block body %}
    <div class="sbp_panel container text-center">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="page_heading">
                    <i class="page_icon fa fa-key"></i>
                    <div class="page_title">Client Access</div>
                </div>
                <form action="/client-access/" method="post">{% csrf_token %}
                    <div class="form-group">
                        {% if gallery_does_not_exist %}
                            <div class="alert alert-warning">
                                <p>Sorry, no gallery with passcode: <span class="label label-warning">{{ passcode }}</span></p>
                            </div>
                        {% endif %}
                        <div class="input-group">
                            <input type="text" name="passcode" class="form-control input-lg" placeholder="Passcode" autofocus="true">
                            <span class="input-group-btn">
                                <button class="btn btn-primary btn-lg" type="button">Goto Gallery <i class="fa fa-hand-o-right"></i></button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock body %}

{% block additional_script %}
{% endblock additional_script %}