{% extends 'base.html' %}

{% block additional_head %}
{% endblock additional_head %}

{% block nav %}
	{% include "_navbar.html" %}
{% endblock nav %}

{% block body %}
<div class="sbp_panel container text-center">

	<div class="row">
		<div class="col-xs-12">
    		<div class="page_heading">
    			<i class="page_icon icon-ok"></i>
	    		<div class="page_title">Gallery Created</div>
			</div>
	        <p>Gallery: {{ gallery.name}}</p>
	        <p>Name: {{ gallery.name }}</p>
	        <p>Passcode: {{ gallery.passcode }}</p>
	        <p># of Images: {{ gallery.number_of_images }}</p>
		</div>
	</div>
</div>
{% endblock body %}

{% block additional_script %}
{% endblock additional_script %}