{% extends 'base.html' %}

{% block additional_head %}
	<link rel="stylesheet/less" href="/static/less/gallery_detail.less" type="text/css" />
	<link rel="stylesheet" href="/static/css/dropzone.css" type="text/css" />
{% endblock additional_head %}

{% block nav %}
	<div class="row">
		<div class="col-sm-12">
			<h1><a href="/galleries" class="gallery_detail_done_btn"><i class="icon-double-angle-left"></i> Done</a></h1>
		</div>
	</div>
{% endblock nav %}

{% block body %}
	<div class="container text-center">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
	    		<div class="page_heading">
	    			<div class="page_title">{{ Gallery }}</div>
    			</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
			    <ul class="gallery_image_list">
					<div class="gallery_image_item"></div>
			    </ul>
			</div>
		</div>
	</div>

	{% if perms.Gallery.can_change %}
		<div class="container text-center">
			<div class="row">
				<div class="col-xs-12">
					<form action="/new_gallery_image" class="dropzone">
						<div class="fallback">
					        <div class="form-group">
					        	<label for="new_gallery_images_field">Drag n' Drop Photos</label>
					    		<input type="file" id="new_gallery_images_field" class="form-control btn btn-default" name="images" multiple/>
					    	</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	{% endif %}

{% endblock body %}

{% block additional_script %}
	{% if perms.Gallery.can_change %}
		<script src="/static/js/dropzone.min.js"></script>
	{% endif %}
{% endblock additional_script %}