{% extends 'base.html' %}

{% load static %}
{% load thumbnail %}

{% block additional_head %}
    <link rel="stylesheet" href="{% static 'less/gallery_detail.css' %}" type="text/css" />
{% endblock additional_head %}

{% block nav %}
    <div id="gallery_pk" data-pk="{{ gallery.pk }}"></div>
    <div id="cost_per_extra_image" data-cost="{{ gallery.cost_per_extra_image }}"></div>

    <div class="gallery_detail_nav" oncontextmenu="return false">
        <div class="controls">
            <div class="btn-group">
                <a href="/galleries/" class="control back btn btn-lg btn-link">
                    <i class="icon fa fa-arrow-left"></i>
                    <span class="text">back</span>
                </a>
            {% if gallery_images %}
                <div class="control gallery_detail_done_btn btn btn-link" data-toggle="modal" data-target="#done_modal">
                    <i class="icon fa fa-check"></i>
                    <span class="text">done</span>
                </div>
            {% endif %}
            </div>
        </div>
        <div class="gallery_title">{{ gallery }}</div>

        {% if gallery_images %}
        <div class="selected_images">
            <div class="selected" data-selected="{{ gallery.selected_image_count }}" data-max="{{ gallery.number_of_images }}"></div>
            <span class="extra"></span>
        </div>
        {% endif %}
    </div>
{% endblock nav %}

{% block body %}
    <div class="gallery_image_container" oncontextmenu="return false">

        {% if gallery_images %}
            <div class="thumbnails_view">
                {% include '_gallery_detail_images.html' %}
            </div>
        {% else %}
            <div class="no_photos">
                <i class="icon fa fa-camera-retro"></i>
                <div class="text">You haven't selected any photos yet.</div>
            </div>
        {% endif %}
    </div>

    <div class="modal fade" id="done_modal" tabindex="-1" role="dialog" aria-labelledby="done_modal_label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="done_modal_label"><i class="fa fa-envelope"></i> Send Images</h3>
                </div>
                <div class="modal-body">
                    <p>SparrowBleu will start artistic editing of the items you have selected and notify you when they are complete.</p>
                    <div class="summary">
                        <h4>Summary:</h4>
                        <ul class="list-group">
                            <li class="list-group-item included">
                                <span class="badge included">{{ gallery.number_of_images }}</span>
                                Included
                            </li>
                            <li class="list-group-item selected">
                                <span class="badge"><span class="selected"></span></span>
                                Selected
                            </li>
                            <li class="list-group-item total">
                                <span class="badge">$<span class="total"></span></span>
                                Additional Cost
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-lg btn-default" data-dismiss="modal">Back</button>
                    <a href="/send-completed-gallery/{{ gallery.pk }}" type="button" class="btn btn-lg btn-primary">Send <i class="fa fa-angle-double-right"></i></a>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}

{% block additional_script %}
    <script src="{% static 'js/jquery.tap.js' %}"></script>
    <script src="{% static 'js/endless-pagination.js' %}"></script>
    <script>$.endlessPaginate({
        onClick: function() {
            setTimeout(function() {
                window.scrollTo(0, 0);
            }, 500);
        }
    });</script>
    <script src="{% static 'js/gallery_detail.js' %}"></script>

    {% if perms.Gallery.can_change %}
        <script src="{% static 'js/lodash.min.js' %}"></script>
        <script src="{% static 'js/s3uploads.js' %}"></script>
        <script src="{% static 'js/gallery_detail_admin.js' %}"></script>
    {% endif %}

{% endblock additional_script %}
