{% load endless %}

{% if is_mobile %}
{% paginate 20 gallery_images %}
{% else %}
{% paginate 1 gallery_images %}
{% endif %}


{% get_pages %}

{% include '_gallery_detail_images.html' %}

{% if gallery_images.count > 0 %}

{% if pages.next == '' %}
<div class="the_end">~ the end ~</div>
{% endif %}

{% if is_mobile %}
<div class="sbp_mobile_pagination">
    <div class="page_controls">
        {% if pages.previous %}
        <a class="previous control" href="{{ pages.previous.path }}"><i class="fa fa-chevron-left"></i></a>
        {% endif %}

        <span class="select_page control">page {{ pages.current }}</span>

        {% if pages.next %}
        <a class="next control" href="{{ pages.next.path }}"><i class="fa fa-chevron-right"></i></a>
        {% endif %}
    </div>
    <div class="page_selector">
        {% for page in pages %}
        {% if page.is_current %}
        <span class="page_current">{{ page.number }}</span>
        {% else %}
        <a href="{{ page.path }}" class="page_link">{{ page.number }}</a>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% else %}
<div class="sbp_desktop_pagination">
    <div class="sbp_buttons">
        {% if pages.previous %}
        <a href="{{ pages.previous.path }}" class="endless_page_button previous"><i class="fa fa-chevron-left"></i></a>
        {% endif %}

        {% if pages.next %}
        <a href="{{ pages.next.path }}" class="endless_page_button next"><i class="fa fa-chevron-right"></i></a>
        {% endif %}
    </div>
    <div class="sbp_pages">
        {% for page in pages %}
        {% if page.is_current %}
        <span class="endless_page_current">
            <strong>{{ page.number }}</strong>
        </span>
        {% else %}
        <a href="{{ page.path }}" class="endless_page_link">{{ page.number }}</a>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endif %}
{% endif %}
