{% extends 'base.html' %}

{% block additional_head %}
{% endblock additional_head %}

{% block nav %}

	{% include "_navbar.html" %}

{% endblock nav %}

{% block body %}
	<div class="sbp_panel container text-center">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
	    		<div class="page_heading">
	    			<i class="page_icon icon-picture"></i>
	    			<div class="page_title">Galleries</div>
    			</div>
			</div>
		</div>
		<div class="tool_bar row">
			<div class="col-sm-12 text-left">
				<a href="/new-gallery/" class="btn btn-primary btn-sm"><i class="icon-plus"></i> New Gallery</a>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
			    <ul class="gallery_list">
			    	{% for g in Galleries %}
			    		<li class="gallery_list_item">
	    					<a href="{{ g.get_absolute_url }}">{{ g }} <i>({{ g.number_of_images }} images)</i></a>
		    			</li>
		    		{% endfor %}
			    </ul>
			</div>
		</div>
	</div>
{% endblock body %}