{% extends 'base.html' %}

{% load thumbnail %}

{% block additional_head %}
	<link rel="stylesheet/less" href="{{ STATIC_URL }}less/galleries.less" type="text/css" />
{% endblock additional_head %}

{% block nav %}

	{% include "_navbar.html" %}

{% endblock nav %}

{% block body %}
	<div class="sbp_panel container text-center">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
	    		<div class="page_heading">
	    			<i class="page_icon fa fa-picture-o"> </i>
	    			<div class="page_title">Galleries</div>
    			</div>
			</div>
		</div>
		<div class="tool_bar row">
			<div class="col-sm-12 text-left">
				<a href="/new-gallery/" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i> New Gallery</a>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
		    	{% for g, im in galleries %}
	    			 <div class="gallery_list_item panel panel-default">
	    				<div class="panel-body">
	    					{% if gallery_empty %}
	    						<h1><a href="{{ g.get_absolute_url }}" class="btn btn-lg btn-primary"><i class="fa fa-plus"></i> Add Photos</a></h1>
	    					{% else %}
		    					<a href="{{ g.get_absolute_url }}">
	    						<img src="{{ im }}" class="gallery_list_item_image">
		    					</a>
	    					{% endif %}
	    				</div>
	    				<div class="panel-footer">
							<a href="{{ g.get_absolute_url }}" class="gallery_list_gallery_title">{{ g.name }}</a>
							<div class="gallery_list_gallery_info">
								<span  class="gallery_number_of_images pull-left"><i class="fa fa-picture-o"></i> {{ g.number_of_images }}</span >
								<span class="gallery_passcode pull-right"><i class="fa fa-lock"></i> {{ g.passcode }}</span >
							</div>
	    				</div>
	    			</div>
	    		{% endfor %}
			</div>
		</div>
	</div>
{% endblock body %}

{% block additional_script %}
{% endblock additional_script %}