{% url 'apps.galleries.views.gallery_detail' pk=gallery.pk passcode=gallery.passcode as gallery_url %}

<h1><a href="proofing.sparrowbleuphotography.com{{ gallery_url }}" target="_blank">{{ gallery.name }}</a></h1>

<div class="summary" style="display: inline-block; padding: 10px 40px 40px; font-size: 14px; line-height: 1.5;">
    <div>
        <b>{{ gallery.number_of_images }}</b> included
        <br>
        <b>{{ images.count }}</b> selected
    </div>
    <div style="border-top: 1px dashed #DDD; border-bottom: 2px solid #DDD;">
        <b>{{ extra_images }} extra</b> @ <b>${{ cost_per_extra_image }}</b> ea
    </div>
    <div style="padding-top: 5px;">
        <b>${{ extra_cost }}</b> Additional Cost
    </div>
</div>

<div class="image_container" style="padding: 20px; background: #696969; border: 1px solid #555; border-radius: 4px; overflow: hidden;">
{% for img in images %}
    <a href="{{ img.fullscreen }}" target="_blank">
        <div class="image_wrapper" style="display: inline-block; vertical-align: middle; margin: 20px; text-align: center">
            <img src="{{ img.thumbnail }}" alt="{{ img.name }}" class="image" style="max-width: 250px; max-height: 250px; border-radius: 2px; overflow: hidden;"/>

            <div class="name" style="width: 250px; line-height: 1.5; color: #CCC;">{{ img.name }}</div>
        </div>
    </a>
{% endfor %}
</div>
<div style="margin-top: 10px; color: #999">
    Images:
    <ol>
        {% for img in images %}
        <li>{{ img.name }}</li>
        {% endfor %}
    </ol>
</div>
