<div class="navbar navbar-default">
	<div class="navbar-header">
	    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	    </button>
	    <a class="navbar-brand" href="/">
	    	<span id="brand_logo"><img src="/static/img/logo_small.png" alt="SparrowBleu Photography" /></span>
	    	<span id="brand_sparrow_bleu">SparrowBleu</span>
    	</a>
	</div>
	<div class="collapse navbar-collapse">
	    <ul class="nav navbar-nav">
	        <li class="{% ifequal request.path '/client-access/'%}active{% endifequal %}"><a href="/client-access">Client Access</a></li>
	        {% if perms.Gallery.can_add %}
	        	<li class="{% ifequal request.path '/new-gallery/'%}active{% endifequal %}"><a href="/new-gallery">New Gallery</a></li>
	        {% if perms.Gallery.can_change %}
	        {% endif %}
	        	<li class="{% ifequal request.path '/galleries/'%}active{% endifequal %}"><a href="/galleries">Galleries</a></li>
	        {% endif %}
	    </ul>

	    <ul class="nav navbar-nav navbar-right">
	    	{% if user.is_authenticated %}
	    		<li>{{ user.name }} <a class="btn btn-info navbar-btn navbar-right" data-toggle="modal" href="/logout">{{ user }} (logout)</a></li>
	        {% else %}
	    		<li><a data-toggle="modal" href="#loginModal">Login</a></li>
	        {% endif %}
	    </ul>
	</div>
</div>

{% include '_login_form.html' %}
