<div class="navbar navbar-default navbar-fixed-top">
	<div class="navbar-header">
	    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	    </button>
	    <a class="navbar-brand" href="/">
	    	<span id="brand_logo"><img src="/static/img/logo_small.png" alt="SparrowBleu Photography" /></span>
	    	<span id="brand_sparrow_bleu">SparrowBleu</span>
    	</a>
	</div>
	<div class="collapse navbar-collapse">
	    <ul class="nav navbar-nav">
	        <li><a href="/client-access">Client Access</a></li>
	        <li><a href="/new-gallery">New Gallery</a></li>
	    </ul>
	</div>
</div>
