<div class="navbar navbar-default">
	<div class="navbar-header">
	    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	    </button>
	    <a class="navbar-brand" href="/">
	    	<span id="brand_logo"><img src="/static/img/logo_small.png" alt="SparrowBleu Photography" /></span>
	    	<span id="brand_sparrow_bleu">SparrowBleu</span>
    	</a>
	</div>
	<div class="collapse navbar-collapse">
	    <ul class="nav navbar-nav">
	        <li class="{% ifequal request.path '/client-access/'%}active{% endifequal %}"><a href="/client-access"><i class="icon-key"></i>Client Access</a></li>
	    </ul>

	    <ul class="nav navbar-nav navbar-right">
	    	{% if user.is_authenticated %}
		        {% if perms.Gallery.can_change %}
		        	<li class="{% ifequal request.path '/galleries/'%}active{% endifequal %}"><a href="/galleries"><i class="icon-picture"></i>Galleries</a></li>
		        {% endif %}
		        {% if perms.Gallery.can_add %}
		        	<li class="{% ifequal request.path '/new-gallery/'%}active{% endifequal %}"><a href="/new-gallery"><i class="icon-plus"></i>New Gallery</a></li>
		        {% endif %}
	    		<li><a data-toggle="modal" href="/logout"><i class="icon-off"></i>{{ user }} (logout)</a></li>
	        {% else %}
		        <li><a data-toggle="modal" href="#loginModal"><i class="icon-user"></i>Login</a></li>
	        {% endif %}
		</ul>
	</div>
</div>

{% include '_login_form.html' %}
