{% extends 'base.html' %}

{% block nav %}

	{% include "_navbar.html" %}

{% endblock nav %}

{% block body %}
	<div class="container text-center">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
	    		<div id="page_icon"><i class="icon-key"></i></div>
		        <h1>Client Access</h1>
			    <form>
			        <div class="form-group">
			        	<div class="input-group">
			        		<input type="text" class="form-control input-lg" placeholder="Passcode" autofocus="" x-webkit-speech="">
				        	<span class="input-group-btn">
				        		<button class="btn btn-primary btn-lg" type="button">Goto Gallery <i class="icon-hand-right"></i></button>
			        		</span>
			        	</div>
			        </div>
			    </form>
			</div>
		</div>
	</div>
{% endblock body %}