{% extends 'base.html' %}

{% block nav %}

	{% include "_navbar.html" %}

{% endblock nav %}

{% block body %}
<div class="container text-center">

	<div class="row">
		<div class="col-xs-12">
    		<div id="page_icon"><i class="icon-picture"></i></div>
	        <h1>New Gallery</h1>
		    <form>
		        <div class="form-group">
	        		<input type="text" class="form-control input-lg" name="name" placeholder="Name" autofocus="" x-webkit-speech="">
	        	</div>
		        <div class="form-group">
	        		<input type="text" class="form-control input-lg" name="passcode" placeholder="Passcode" autofocus="" x-webkit-speech="">
	        	</div>
		        <div class="form-group">
	        		<input type="file" class="form-control btn btn-default" name="images" multiple/>
	        	</div>
		        <div class="form-group">
		        	<button class="btn btn-lg btn-primary" type="submit"><i class="icon-plus"></i> Create Gallery</button>
		        </div>
		    </form>
		</div>
	</div>
</div>
{% endblock body %}