/***************************************************************************************************
 * sbp variables
 ***************************************************************************************************/
/***************************************************************************************************
 * bootstrap overrides
 ***************************************************************************************************/
/***************************************************************************************************
 * utilities
 ***************************************************************************************************/
/***************************************************************************************************
* shadows
***************************************************************************************************/
.sbp_text_shadow_sm {
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
}
.sbp_text_shadow_md {
  text-shadow: 2px 3px rgba(0, 0, 0, 0.1);
}
.sbp_box_shadow_lg {
  box-shadow: 8px 8px 1px rgba(0, 0, 0, 0.1);
}
/***************************************************************************************************
 * special styles
 ***************************************************************************************************/
/***************************************************************************************************
 * transitions
 ***************************************************************************************************/
body {
  background: url('../../static/img/zigzag_dark_highres.png') repeat center center;
  background-size: 53px 19px;
}
.gallery_detail_nav {
  font-family: "Raleway Light", sans-serif;
  position: fixed;
  padding: 5px;
  height: 60px;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(27, 25, 24, 0.8);
  color: rgba(255, 255, 255, 0.65);
  text-shadow: 0 1px rgba(0, 0, 0, 0.75);
  z-index: 900;
}
.gallery_detail_nav .gallery_detail_done_btn {
  display: block;
  padding: 12px;
  line-height: normal;
  font-size: 24px;
  color: inherit;
}
.gallery_detail_nav .gallery_detail_done_btn:hover {
  text-decoration: none;
  color: #74736e;
}
.gallery_detail_nav .gallery_title {
  text-align: center;
  font-size: 36px;
}
.gallery_detail_nav #selected_images {
  padding-right: 10px;
  text-align: right;
  font-size: 16px;
}
.gallery_detail_nav #selected_images .included,
.gallery_detail_nav #selected_images .extra {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.gallery_detail_nav #selected_images .included.primary,
.gallery_detail_nav #selected_images .extra.primary {
  font-size: 21px;
  color: #8bccd5;
}
.gallery_image_container {
  padding-top: 60px;
}
.gallery_image_container .gallery_image_item {
  float: left;
  background: #FFF;
  border: 2px solid #555;
  cursor: pointer;
  width: 100%;
  height: 240px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-shadow: 8px 8px 1px rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 480px) {
  .gallery_image_container .gallery_image_item {
    width: 50%;
    height: 240px;
  }
}
@media screen and (min-width: 768px) {
  .gallery_image_container .gallery_image_item {
    width: 33.333%;
    height: 240px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery_image_container .gallery_image_item {
    width: 25%;
    height: 240px;
  }
}
@media screen and (min-width: 1500px) {
  .gallery_image_container .gallery_image_item {
    width: 20%;
    height: 240px;
  }
}
.gallery_image_container .gallery_image_item .gallery_image_item_inner {
  position: relative;
}
.gallery_image_container .gallery_image_item .gallery_image_item_inner img {
  top: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
}
.gallery_image_container .gallery_image_item .gallery_image_item_inner .gallery_large {
  position: absolute;
  opacity: 0;
}
.gallery_image_container .gallery_image_item .gallery_image_item_inner .favorite {
  position: absolute;
  right: 10px;
  bottom: 5px;
  color: #ffebee;
  font-size: 36px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  opacity: 0;
}
.gallery_image_container .gallery_image_item .gallery_image_item_inner .gallery_thumbnail_overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #FFF;
}
.gallery_image_container .gallery_image_item.selected .gallery_large {
  opacity: 0;
}
.gallery_image_container .gallery_image_item.selected .favorite {
  opacity: 1;
}
/*
.upload_photos_form {
    .sbp_transition(height);
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0;
    height: 60px;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    overflow: hidden;
    z-index: 9999;
    &:hover, &:active, &focus {
        height: 250px;
    }

    .drag_drop_title {
        margin-bottom: 80px;
        color: inheit;
        .sbp_text_shadow_sm();
    }

    .gallery_deatil_upload_drop_area {
        position: absolute;
        padding: 70px 0 0 50%;
        margin-left: -126px;
        top: 0;
        left: 0;
        right: 0;
        width: auto;
        height: 100%;
        color: @sbp_heading_color;
        text-indent: 100%;
        background: none;
        border: none;
        box-shadow: none;
    }
    .upload_photos_submit_btn {
        position: relative;
    }
}
*/
#dropzone {
  display: none;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  line-height: 1;
  color: #8bccd5;
  text-align: center;
  text-shadow: 0 1px #333;
  border: 10px solid #8bccd5;
  z-index: 9999;
}
#dropzone .message {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 132px;
}
#dropzone .message .icon {
  font-size: 6em;
}
#dropzone .message .text {
  font-size: 3em;
}
#status {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
#status .progress {
  display: none;
  margin: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 6px;
  background: #333;
  border-radius: 0;
}
