/***************************************************************************************************
 * sbp variables
 ***************************************************************************************************/
/***************************************************************************************************
 * bootstrap overrides
 ***************************************************************************************************/
/***************************************************************************************************
 * utilities
 ***************************************************************************************************/
/***************************************************************************************************
* shadows
***************************************************************************************************/
.sbp_text_shadow_sm {
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
}
.sbp_text_shadow_md {
  text-shadow: 2px 3px rgba(0, 0, 0, 0.1);
}
.sbp_box_shadow_lg {
  box-shadow: 8px 8px 1px rgba(0, 0, 0, 0.1);
}
/***************************************************************************************************
 * special styles
 ***************************************************************************************************/
/***************************************************************************************************
 * transitions
 ***************************************************************************************************/
body {
  font-family: "Raleway Light", sans-serif;
  background: url('../../static/img/zigzag_dark_highres.png') repeat center center;
  background-size: 53px 19px;
}
.gallery_detail_nav {
  position: fixed;
  padding: 0 10px;
  height: 50px;
  top: 0;
  left: 0;
  right: 0;
  font-family: "Raleway Regular";
  color: rgba(255, 255, 255, 0.65);
  text-shadow: 0 1px rgba(0, 0, 0, 0.75);
  background: rgba(27, 25, 24, 0.8);
  z-index: 900;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.gallery_detail_nav .controls {
  float: left;
}
.gallery_detail_nav .controls .control {
  display: block;
  padding: 0 12px;
  line-height: 50px;
  font-size: 18px;
  color: inherit;
  z-index: 100;
}
.gallery_detail_nav .controls .control:hover {
  text-decoration: none;
  color: #74736e;
}
@media (max-width: 768px) {
  .gallery_detail_nav .controls .control {
    font-size: 18px;
    padding: 0 10px;
  }
}
.gallery_detail_nav .gallery_title {
  position: absolute;
  width: 100%;
  font-size: 21.599999999999998px;
  line-height: 50px;
  text-align: center;
  cursor: default;
}
@media (max-width: 768px) {
  .gallery_detail_nav .gallery_title {
    display: none;
  }
}
.gallery_detail_nav .selected_images {
  float: right;
  padding: 3px 12px;
  text-align: right;
  z-index: 100;
  font-size: 14.4px;
}
.gallery_detail_nav .selected_images .selected,
.gallery_detail_nav .selected_images .extra {
  -webkit-transition-property: font-size, color;
  -o-transition-property: font-size, color;
  transition-property: font-size, color;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;
}
.gallery_detail_nav .selected_images .selected.primary,
.gallery_detail_nav .selected_images .extra.primary {
  font-size: 18px;
  color: #a1d1c9;
}
@media (max-width: 768px) {
  .gallery_detail_nav .selected_images {
    font-size: 14px;
    padding: 2px 10px 0 0;
  }
  .gallery_detail_nav .selected_images .selected.primary,
  .gallery_detail_nav .selected_images .extra.primary {
    font-size: 18px;
    color: #a1d1c9;
  }
}
.gallery_image_container {
  padding: 80px 2% 0 2%;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.gallery_image_container #dropzone {
  display: none;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  line-height: 1;
  color: #a1d1c9;
  text-align: center;
  text-shadow: 0 1px #333;
  border: 10px solid #a1d1c9;
  z-index: 9999;
}
.gallery_image_container #dropzone .message {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 132px;
}
.gallery_image_container #dropzone .message .icon {
  font-size: 6em;
}
.gallery_image_container #dropzone .message .text {
  font-size: 3em;
}
.gallery_image_container #status {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
.gallery_image_container #status .progress {
  display: none;
  margin: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 6px;
  background: #333;
  border-radius: 0;
}
.gallery_image_container #status .files_uploading {
  position: fixed;
  display: none;
  margin: 10px;
  width: 300px;
  top: 60px;
  bottom: 0;
  overflow-y: auto;
  right: 0;
}
.gallery_image_container #status .files_uploading .upload {
  padding: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-align: left;
  color: #74736e;
  text-overflow: ellipsis;
  background: rgba(27, 25, 24, 0.8);
  cursor: default;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.gallery_image_container .fullscreen_view {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 800;
}
.gallery_image_container .fullscreen_view .image_container {
  position: fixed;
  top: 70px;
  left: 10px;
  bottom: 10px;
  right: 10px;
}
.gallery_image_container .fullscreen_view .image_container .fullscreen_image_item {
  display: none;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  max-width: 100%;
  max-height: 100%;
}
.gallery_image_container .fullscreen_view .image_container .fullscreen_image_item.active {
  display: block;
}
.gallery_image_container .fullscreen_view .image_container .fullscreen_image_item.selected .inner .favorite {
  opacity: 1;
}
.gallery_image_container .fullscreen_view .image_container .fullscreen_image_item .inner {
  position: relative;
  display: inline-block;
}
.gallery_image_container .fullscreen_view .image_container .fullscreen_image_item .inner .image {
  position: static;
  max-width: 100%;
  max-height: 100%;
  cursor: pointer;
  box-shadow: 8px 8px 1px rgba(0, 0, 0, 0.1);
}
.gallery_image_container .fullscreen_view .image_container .fullscreen_image_item .inner .favorite {
  position: absolute;
  right: 10px;
  bottom: 5px;
  color: #ffebee;
  font-size: 36px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  opacity: 0;
}
.gallery_image_container .fullscreen_view .image_container .fullscreen_image_item .inner .gallery_thumbnail_overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #FFF;
}
.gallery_image_container .fullscreen_view .controls .previous,
.gallery_image_container .fullscreen_view .controls .next {
  position: absolute;
  padding: 20px;
  top: 60px;
  bottom: 0;
  width: 150px;
  font-size: 56px;
  color: rgba(255, 255, 255, 0.5);
  text-shadow: 0 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.gallery_image_container .fullscreen_view .controls .previous:hover,
.gallery_image_container .fullscreen_view .controls .next:hover {
  color: rgba(255, 255, 255, 0.85);
  text-shadow: 0 1px rgba(0, 0, 0, 0.5);
  background: rgba(0, 0, 0, 0.1);
}
.gallery_image_container .fullscreen_view .controls .previous .icon,
.gallery_image_container .fullscreen_view .controls .next .icon {
  position: absolute;
  line-height: 0;
  top: 50%;
  left: 0;
  right: 0;
}
.gallery_image_container .fullscreen_view .controls .previous {
  left: 0;
}
.gallery_image_container .fullscreen_view .controls .next {
  right: 0;
}
.gallery_image_container .thumbnails_view .gallery_image_item {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  display: inline-block;
  padding: 2%;
  vertical-align: middle;
  max-width: 100%;
}
@media (max-width: 768px) {
  .gallery_image_container .thumbnails_view .gallery_image_item {
    padding: 10px 0;
    min-height: 50px;
    height: auto !important;
  }
}
.gallery_image_container .thumbnails_view .gallery_image_item .gallery_image_item_inner {
  position: relative;
  line-height: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 0 1px #555;
  cursor: pointer;
}
@media (max-width: 768px) {
  .gallery_image_container .thumbnails_view .gallery_image_item .gallery_image_item_inner {
    box-shadow: none;
  }
}
.gallery_image_container .thumbnails_view .gallery_image_item .gallery_image_item_inner .gallery_thumbnail {
  position: relative;
  margin: auto;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  box-shadow: 8px 8px 1px rgba(0, 0, 0, 0.1);
}
.gallery_image_container .thumbnails_view .gallery_image_item .gallery_image_item_inner .favorite {
  position: absolute;
  right: 10px;
  bottom: 5px;
  color: #ffebee;
  font-size: 36px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  opacity: 0;
}
.gallery_image_container .thumbnails_view .gallery_image_item .gallery_image_item_inner .gallery_thumbnail_overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #FFF;
}
.gallery_image_container .thumbnails_view .gallery_image_item .gallery_image_item_inner .loading {
  position: absolute;
  display: inline-block;
  margin: -21px 0 0 -21px;
  width: 28px;
  height: 28px;
  color: #555;
  top: 50%;
  left: 50%;
  font-size: 28px;
}
.gallery_image_container .thumbnails_view .gallery_image_item .gallery_image_item_inner .gallery_image_name {
  font-family: "Raleway Regular";
  font-size: 14px;
  line-height: 32px;
}
.gallery_image_container .thumbnails_view .gallery_image_item.selected .favorite {
  opacity: 1;
}
.gallery_image_container .thumbnails_view .gallery_image_item.uploading .gallery_thumbnail {
  opacity: 0.35;
}
.gallery_image_container .thumbnails_view .sbp_desktop_pagination .sbp_buttons {
  overflow: hidden;
  margin-top: 100px;
}
.gallery_image_container .thumbnails_view .sbp_desktop_pagination .sbp_buttons .previous,
.gallery_image_container .thumbnails_view .sbp_desktop_pagination .sbp_buttons .next {
  display: inline-block;
  background: rgba(27, 25, 24, 0.8);
  padding: 10px 30px;
  font-size: 18px;
  color: #74736e;
}
.gallery_image_container .thumbnails_view .sbp_desktop_pagination .sbp_buttons .previous {
  float: left;
}
.gallery_image_container .thumbnails_view .sbp_desktop_pagination .sbp_buttons .next {
  float: right;
}
.gallery_image_container .thumbnails_view .sbp_desktop_pagination .sbp_pages {
  margin: 40px 0;
  overflow: hidden;
  font-family: "Raleway Medium";
  text-align: center;
}
.gallery_image_container .thumbnails_view .sbp_desktop_pagination .sbp_pages .endless_page_current,
.gallery_image_container .thumbnails_view .sbp_desktop_pagination .sbp_pages .endless_page_link {
  display: inline-block;
  padding: 8px;
  max-width: 50px;
  min-width: 28px;
  width: 4%;
}
.gallery_image_container .thumbnails_view .sbp_desktop_pagination .sbp_pages .endless_page_current {
  color: #a1d1c9;
}
.gallery_image_container .thumbnails_view .sbp_desktop_pagination .sbp_pages .endless_page_link {
  text-decoration: none;
  color: #74736e;
  text-shadow: 0 1px #000;
}
.gallery_image_container .thumbnails_view .sbp_mobile_pagination {
  display: block;
}
.gallery_image_container .thumbnails_view .sbp_mobile_pagination .page_controls {
  padding: 100px 0 0 0;
  font-size: 18px;
  color: #74736e;
  overflow: hidden;
}
.gallery_image_container .thumbnails_view .sbp_mobile_pagination .page_controls .control {
  line-height: 3;
  color: #74736e;
  background: rgba(27, 25, 24, 0.8);
}
.gallery_image_container .thumbnails_view .sbp_mobile_pagination .page_controls .control.next,
.gallery_image_container .thumbnails_view .sbp_mobile_pagination .page_controls .control.previous {
  position: absolute;
  width: 60px;
}
.gallery_image_container .thumbnails_view .sbp_mobile_pagination .page_controls .control.next {
  right: 2%;
}
.gallery_image_container .thumbnails_view .sbp_mobile_pagination .page_controls .control.previous {
  left: 2%;
}
.gallery_image_container .thumbnails_view .sbp_mobile_pagination .page_controls .control.select_page {
  display: inline-block;
  padding: 0 20px;
  cursor: pointer;
}
.gallery_image_container .thumbnails_view .sbp_mobile_pagination .page_selector {
  position: fixed;
  display: none;
  left: 2%;
  right: 2%;
  bottom: 85px;
  overflow-y: scroll;
  font-size: 18px;
  z-index: 1000;
  background: rgba(27, 25, 24, 0.8);
}
.gallery_image_container .thumbnails_view .sbp_mobile_pagination .page_selector .page_link,
.gallery_image_container .thumbnails_view .sbp_mobile_pagination .page_selector .page_current {
  float: left;
  padding: 20px 0;
  width: 10%;
}
.gallery_image_container .thumbnails_view .sbp_mobile_pagination .page_selector .page_link {
  color: inherit;
}
.gallery_image_container .thumbnails_view .sbp_mobile_pagination .page_selector .page_link:hover,
.gallery_image_container .thumbnails_view .sbp_mobile_pagination .page_selector .page_link:focus {
  text-decoration: none;
}
.gallery_image_container .thumbnails_view .sbp_mobile_pagination .page_selector .page_link:active {
  color: #FFF;
  background: #a1d1c9;
}
.gallery_image_container .thumbnails_view .sbp_mobile_pagination .page_selector .page_current {
  font-family: "Raleway Medium", sans-serif;
  color: #FFF;
  background: #a1d1c9;
  cursor: pointer;
}
@media (max-width: 768px) {
  .gallery_image_container .thumbnails_view .sbp_mobile_pagination .page_selector {
    left: 0;
    right: 0;
    bottom: 70px;
  }
  .gallery_image_container .thumbnails_view .sbp_mobile_pagination .page_selector .page_link,
  .gallery_image_container .thumbnails_view .sbp_mobile_pagination .page_selector .page_current {
    width: 18%;
    margin: 1%;
  }
}
.no_photos,
.drop_images,
.the_end {
  font-size: 42px;
  margin: 150px 0 75px 0;
}
.no_photos .icon,
.drop_images .icon,
.the_end .icon {
  font-size: 112px;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .no_photos,
  .drop_images,
  .the_end {
    font-size: 28px;
    margin: 100px 0;
  }
}
#done_modal {
  font-family: "Raleway Medium", sans-serif;
}
#done_modal h1,
#done_modal h2,
#done_modal h3,
#done_modal h4,
#done_modal h5,
#done_modal h6 {
  font-family: "Raleway Medium", sans-serif;
}
#done_modal .modal-body {
  font-size: 16px;
}
#done_modal .modal-body .summary {
  margin: 40px auto 20px auto;
  width: 60%;
  max-width: 300px;
}
#done_modal .modal-body .summary .list-group-item:last-child {
  color: #479285;
}
#done_modal .modal-body .summary .list-group-item:last-child .badge {
  background: #5dafa2;
}
#done_modal .modal-body .summary .list-group-item .badge {
  font-size: 16px;
  border-radius: 3px;
  background: #CCC;
}
