@import "/static/less/variables.less";
@import "/static/less/mixins.less";

/***************************************************************************************************
 * galleries page
 ***************************************************************************************************/
.gallery_list {
    list-style: none;
}

.gallery_list_item {
	.sbp_transition(background);
    display: inline-block;
	position: relative;
	margin: 0.5%;
    overflow: hidden;
    &:hover {
		text-decoration: none;
		background: hsl(hue(@sbp_blue), 30%, 96%);
        .controls {
            top: 0;
        }
    }
    .controls {
        .sbp_transition(top);
        position: absolute;
        padding: 5px;
        top: -40px;
        width: 100%;
        background: rgba(0,0,0,0.5);
        .delete {

        }
        .delete_confirm {
            display: none;
        }
    }
    .panel-body {
		padding: 0;
        width: 250px;
        height: 250px;
         .gallery_empty {
            font-size: 10em;
            padding: 25px;
            color: #DDD;
            background: #FEFEFE;
        }
        .gallery_list_item_image {
            max-width: 100%;
        }
    }

	.panel-footer{
		background:none;
		overflow: hidden;
		a:hover {
			text-decoration: none;
		}
		hr { margin: 15px 0; }
		.gallery_list_gallery_title {
			display: block;
			margin: 15px 0 20px 0;
			width: 100%;
			overflow: hidden;
			font-size: 21px;
			color: #74736E;
			text-overflow: ellipsis;
			white-space: nowrap;
			text-decoration: none;
		}

		.gallery_list_gallery_info {
			font-size: 14px;
			color: fade(@sbp_font_color, 40%);
            text-align: left;
            .gallery_passcode {
            }
            .gallery_number_of_images {
            }
            .gallery_cost_per_extra_image {
            }
            i {
                width: 15px;
                margin-right: 10px;
                text-align: right;
            }
        }
	}
}
