/***************************************************************************************************
 * sbp variables
 ***************************************************************************************************/
/***************************************************************************************************
 * bootstrap overrides
 ***************************************************************************************************/
/***************************************************************************************************
 * utilities
 ***************************************************************************************************/
/***************************************************************************************************
* shadows
***************************************************************************************************/
.sbp_text_shadow_sm {
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
}
.sbp_text_shadow_md {
  text-shadow: 2px 3px rgba(0, 0, 0, 0.1);
}
.sbp_box_shadow_lg {
  box-shadow: 8px 8px 1px rgba(0, 0, 0, 0.1);
}
/***************************************************************************************************
 * special styles
 ***************************************************************************************************/
/***************************************************************************************************
 * transitions
 ***************************************************************************************************/
/***************************************************************************************************
 * galleries page
 ***************************************************************************************************/
.gallery_list {
  list-style: none;
}
.gallery_list_item {
  -webkit-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;
  display: inline-block;
  position: relative;
  margin: 0.5%;
  max-width: 252px;
  overflow: hidden;
}
.gallery_list_item:not(.deleting):hover {
  text-decoration: none;
  background: #f2f8f7;
}
.gallery_list_item:not(.deleting):hover .controls {
  top: 0;
}
.gallery_list_item.deleting {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.gallery_list_item.deleting .deleting_overlay {
  display: block;
}
.gallery_list_item .controls {
  -webkit-transition-property: top;
  -o-transition-property: top;
  transition-property: top;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;
  position: absolute;
  padding: 5px;
  top: -40px;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
}
.gallery_list_item .controls .delete_confirm {
  display: none;
}
.gallery_list_item .panel-body {
  position: relative;
  padding: 0;
  width: 250px;
  height: 250px;
}
.gallery_list_item .panel-body .gallery_empty {
  font-size: 10em;
  padding: 25px;
  color: #FFF;
  background: #EEE;
}
.gallery_list_item .panel-body .gallery_list_item_image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  max-width: 100%;
}
.gallery_list_item .panel-footer {
  background: none;
  overflow: hidden;
}
.gallery_list_item .panel-footer a:hover {
  text-decoration: none;
}
.gallery_list_item .panel-footer hr {
  margin: 15px 0;
}
.gallery_list_item .panel-footer .gallery_list_gallery_title {
  display: block;
  margin: 15px 0 20px 0;
  width: 100%;
  overflow: hidden;
  font-size: 21px;
  color: #74736E;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-decoration: none;
}
.gallery_list_item .panel-footer .gallery_list_gallery_info {
  font-size: 14px;
  color: rgba(116, 115, 110, 0.4);
  text-align: left;
}
.gallery_list_item .panel-footer .gallery_list_gallery_info i {
  width: 15px;
  margin-right: 10px;
  text-align: center;
}
.gallery_list_item .deleting_overlay {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  line-height: 6;
  background: rgba(255, 255, 255, 0.85);
  font-size: 42px;
  color: #999;
  z-index: 900;
}
